body {
    margin: 0;
    padding: 2% 8%;
    background-color: rgb(229, 222, 218);
}

html {
    scroll-behavior: smooth;
}

span {
    color: red;
    font-weight: bold;
}

h2 {
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: century gothic;
    letter-spacing: 5px;
    font-weight: lighter;
}

h3 {
    color: black;
    font-family: century gothic;
    letter-spacing: 3px;
    font-size: larger;
    font-weight: normal;
}

header {
    background-image: url(../imagenes/ciudad/playa.jpg);
    background-size: cover;
    background-position: center;
    height: 15em;
    margin: 0;
    display: flex;
}

h1 {
    border: solid white;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1em;
    font-family: Century Gothic;
    font-size: 1.7em;
    font-weight: bold;
    padding-left: 1em;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.linkicon {
    margin-right: 10px;
}

.enlaces a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: century gothic;
}

.enlaces {
    height: fit-content;
    letter-spacing: 1em;
    display: flex;
    justify-content: space-between;
}

.enlaces a {
    padding: 10px 0;
    width: 40%;
}

.enlaces a:hover {
    color: red;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000;
}

#jardin {
    text-align: right;
}

.cont {
    background-color: white;
    border: solid rgb(255, 88, 88) 10px;
    padding: 1em;
}

.indice,
.flex {
    display: flex;
    margin-bottom: 30px;
}

b {
    font-weight: 600;
}

strong {
    font-weight: 600;
}

.provi {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.1)), url(../imagenes/ciudad/provi.jpg);
    width: 68%;
    position: relative;
}

.provi p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5em 1.2em;
    font-size: small;
    position: absolute;
    bottom: 0;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.lista {
    background-color: rgb(255, 255, 255);
    width: 32%;
    padding: 10px 20px;
    border: solid rgb(255, 88, 88) 10px;
}

.lista ol {
    font-family: Century gothic;
    line-height: 22px;
    counter-reset: item;
}

.lista ol a {
    text-decoration: none;
    color: rgb(179, 43, 43);
}

.lista ol a:hover {
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.lista li {
    display: block;
}

.lista li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
}

#intro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intro .cont {
    width: 55%;
}

#intro .labo {

    background-image: url(../imagenes/ciudad/laboral.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 45%;
    position: relative;
}

#wikiast,
#giardino {
    color: red;
}

#intro .labo p {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    font-size: 0.9em;
    bottom: 0;
    right: 2em;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

footer.back {
    background-color: rgb(255, 174, 174);
    width: fit-content;
    padding: 0px 9px 3px;
    margin: auto;
    border-radius: 2em;
}

footer.back a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 0.85em;
}

footer.back:hover {
    background-color: rgb(255, 0, 0);
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 0,
        0.3em 0.3em 1em rgba(0, 0, 0, 0.7);
}

#toponimia {
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#toponimia .cont {
    width: 50%;
}

.cerro {
    position: relative;
    display: flex;
    width: 50%;
    overflow: hidden;
    justify-content: center;
}

.cerro img {
    height: 100%;
    position: absolute;
}

.cerro p {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    font-size: 1em;
    top: 0;
    right: 2em;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    margin-top: 2px;
    z-index: 100;
}

#simbolos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bandera {
    float: right;
    margin-top: 25px;
    width: 30%;
}

.bandera img {
    width: 100%;
}

.bandera figcaption {
    font-size: 0.8em;
}

#geografia {
    flex-direction: column;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contdos,
#clima {
    background-color: white;
    border: solid rgb(255, 88, 88) 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#contdos {
    border-bottom: none;
    width: 40%;
}

#clima {
    border-top: none;
}

#conttres {
    display: flex;
}

#picos {
    display: flex;
    width: 60%;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    border-bottom: solid rgb(255, 88, 88) 10px;
}

#picos #gen {
    height: 50%;
    width: 100%;
    position: absolute;
}

#picos #ñora {
    max-height: 50%;
    width: 100%;
    position: absolute;
    bottom: 20px;
    border-top: solid rgb(229, 222, 218) 10px;
}

#picos p {
    position: absolute;
    z-index: 100;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#a {
    top: 0;
    left: 30px;
}

#b {
    top: 47%;
    right: 30px;
}

#clima h3 {
    margin-top: -20px;
}

#pp {
    margin-top: -4px;
}

.puerto {
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.puerto p {
    position: absolute;
    color: white;
    top: 0;
    right: 12em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

}

.puerto img {
    width: 80%;
}

#patrimonio .cont {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
}

#patrimonio aside {
    position: relative;
    width: 40%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#patrimonio aside p {
    font-size: 0.9em;
    position: absolute;
    color: white;
    left: 10px;
    bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#patrimonio img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.temperaturas {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.temperaturas caption {
    color: white;
    font-weight: bold;
    background-color: gray;
}

.temperaturas th {
    background-color: rgb(122, 118, 118);
    color: white
}

.temperaturas .bd {
    border-right: solid 5px gray;
}

.temperaturas .nc {
    background-color: rgb(249, 229, 191);
}

.temperaturas .nm {
    background-color: rgb(247, 190, 49);
}

.temperaturas .no {
    background-color: rgb(255, 94, 0);
    color: white
}

.temperaturas .ac {
    background-color: rgb(183, 251, 251);
}

.temperaturas .am {
    background-color: rgb(45, 195, 255);
}

.temperaturas .ao {
    background-color: rgb(0, 68, 255);
    color: white
}

.temperaturas td:hover,
th:hover {
    filter: brightness(150%);
}

#cultura {
    flex-direction: column;
}

#cultura .cont {
    border-left: none;
}

#cultura .avion {
    display: flex;
}

.avion .cont {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;

}

#cultura .aereo {
    width: 60%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-right: solid rgb(255, 88, 88) 10px;
    border-bottom: solid rgb(255, 88, 88) 10px;
}

.aereo img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: 67%;
}

.aereo p {
    font-size: 0.9em;
    position: absolute;
    color: white;
    right: 10px;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.imagenes {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    overflow: hidden;
}

.solidaridad {
    position: relative;
    width: 50%;
}

.sidra {
    position: relative;
    width: 50%;
}

.sidra img {
    width: 100%;
    margin-left: 30px;
}

.solidaridad p,
.sidra p {
    position: absolute;
    color: white;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 0.9em;
}

.sidra p {
    right: 1em;
}

.solidaridad p {
    left: 1em;
}

#museos .cont{
    border-top: none;
    border-left: solid rgb(255,88,88) 10px;
    margin-top: -10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ct {
    margin-top: -10px;
    border-left: solid rgb(255,88,88) 10px;
}

#ct .cont {
    width: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: none;
    border-bottom: none;
    margin-top: -30px;
    border-right: none;
}

.jovell {
    width: 60%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top: solid rgb(255, 88, 88) 10px;
    border-bottom: solid rgb(255, 88, 88) 10px;
    border-left: solid rgb(255, 88, 88) 10px;
}

.jovell img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;

}

#literatura {
    margin-top: -50px;
    border-left: solid rgb(255, 88, 88) 10px;
}

#literatura .cont {
    border-top: none;
    border-bottom: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gastronomia .cont {
    border-top: none;
    padding-top: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gastronomia .cont h3 {
    margin-top: 0px;
}

#deportes {
    margin-top: 25px;
}

.pr {
    border-top: solid rgb(255, 88, 88) 10px;
    border-right: solid rgb(255, 88, 88) 10px;
    width: 30%;
    overflow: hidden;
}

.pr img {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
}

.molinon {
    height: 500px;
    width: fit-content;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.molinon p {
    color: white;
    position: absolute;
    top: 10px;
    left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 2px 5px rgb(0, 0, 0);
    font-weight: bold;
}

.molinon div {
    width: fit-content;
}

.molinon img {
    object-fit: cover;
    width: 900px;
    height: 500px;
}

#fiestas {
    margin-top: 50px;
    border-left: rgb(255,88,88) solid 10px;
}

#fiestas .cont {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.escanciado {
    margin-top: 20px;
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 1em;
}

#ultimo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contacto {
    position: relative;
    margin-top: 50px;
    background-image: linear-gradient(160deg, rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0)), url(../imagenes/ciudad/lloca.jpg);
    background-color: black;
    font-family: Century Gothic;
    padding-left: 2em;
    padding-top: inherit;
    background-position: right 70%;
    background-size: cover;
}

#contacto label {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 1em;
    margin-bottom: 2em;
    text-shadow: 3px 3px 4px #000000;
    color: white;
}

input,
textarea, select {
    font-size: 1em;
    padding-left: 0.5em;
}

input[type=text],
select {
    display: inline-block;
    margin-right: 3em;
    width: 20vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
select{
    color:rgb(123, 122, 122)
}
#contacto h2 {
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 2em;
    text-shadow: 3px 3px 5px #000000;
    color: white
}

#contacto textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40vw;
    margin-bottom: 2em;
    resize: none;
    font-style: italic;
}

#botones {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 2em;
    margin-left: 7em;
}

input.boton {
    height: 2em;
    background-color: rgb(255, 88, 88);
    border: none;
    border-radius: 1em;
    font-size: larger;
    color: white;
    width: 15em;
    text-shadow: 1px 1px 1px #000000;
}

input.boton:hover {
    filter: drop-shadow(0 0 0.5rem rgb(255, 88, 88));
    background-color: red;
}

.textarea {
    display: flex;
    align-items: start;
}

#last {
    margin-top: 2em;
    height: 8em;
    width: 100%;
    background: linear-gradient(180deg, rgb(229, 222, 218), rgb(250, 76, 76));
    position: absolute;
    left: 0;
    text-shadow: 0.2em 0.2em 0.2em #ffff;
}

.finale {
    font-family: segoe script;
    font-size: 2em;
    margin-top: 0.8em;
    width: 100%;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
